//main: main.less

.hero {
  background-color: @orange;
  color: @white;

  .btn {
    margin-right: 20px;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-weight: 600;
    text-transform: uppercase;
  }

  .hero-inner {
    padding: 5% 3%;
  }

  .hero-image {
    height: 100%;
    position: relative;
    background: url('../images/travel.jpeg');
    background-size: cover;
    background-position: center;
  }
  @media @smartphones, @tablet{
    .hero-image {
      min-height: 20vh;
    }
  }
}

.location-form {
  input, textarea {
    width: 100%;
  }
}

.card-margin {
  margin: 10px 0;
}
.memory-card {
  background: @white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
  transition: 0.3s;
  margin: 5px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-inner {
    padding: 3%;
  }
  
  .card-meta {
    font-size: .5rem;
  }
}

#map {
  min-height: 600px;
  max-height: 600px;
  width: auto;
  @media @smartphones, @tablet {
    min-height: 50vh;
    max-height: 50vh;
  }
}